navidadService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://navidad.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://navidad.example.com/" name="NavidadService">
<types>
<xsd:schema>
<xsd:import namespace="http://navidad.example.com/" schemaLocation="http://localhost:8080/navidadService?xsd=1"/>
</xsd:schema>
</types>
<message name="listCustomers">
<part name="parameters" element="tns:listCustomers"/>
</message>
<message name="listCustomersResponse">
<part name="parameters" element="tns:listCustomersResponse"/>
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder"/>
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="createGift">
<part name="parameters" element="tns:createGift"/>
</message>
<message name="createGiftResponse">
<part name="parameters" element="tns:createGiftResponse"/>
</message>
<message name="listGifts">
<part name="parameters" element="tns:listGifts"/>
</message>
<message name="listGiftsResponse">
<part name="parameters" element="tns:listGiftsResponse"/>
</message>
<message name="listOrders">
<part name="parameters" element="tns:listOrders"/>
</message>
<message name="listOrdersResponse">
<part name="parameters" element="tns:listOrdersResponse"/>
</message>
<portType name="NavidadService">
<operation name="listCustomers">
<input wsam:Action="http://navidad.example.com/NavidadService/listCustomersRequest" message="tns:listCustomers"/>
<output wsam:Action="http://navidad.example.com/NavidadService/listCustomersResponse" message="tns:listCustomersResponse"/>
</operation>
<operation name="createOrder">
<input wsam:Action="http://navidad.example.com/NavidadService/createOrderRequest" message="tns:createOrder"/>
<output wsam:Action="http://navidad.example.com/NavidadService/createOrderResponse" message="tns:createOrderResponse"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://navidad.example.com/NavidadService/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://navidad.example.com/NavidadService/createCustomerResponse" message="tns:createCustomerResponse"/>
</operation>
<operation name="createGift">
<input wsam:Action="http://navidad.example.com/NavidadService/createGiftRequest" message="tns:createGift"/>
<output wsam:Action="http://navidad.example.com/NavidadService/createGiftResponse" message="tns:createGiftResponse"/>
</operation>
<operation name="listGifts">
<input wsam:Action="http://navidad.example.com/NavidadService/listGiftsRequest" message="tns:listGifts"/>
<output wsam:Action="http://navidad.example.com/NavidadService/listGiftsResponse" message="tns:listGiftsResponse"/>
</operation>
<operation name="listOrders">
<input wsam:Action="http://navidad.example.com/NavidadService/listOrdersRequest" message="tns:listOrders"/>
<output wsam:Action="http://navidad.example.com/NavidadService/listOrdersResponse" message="tns:listOrdersResponse"/>
</operation>
</portType>
<binding name="NavidadServiceImplPortBinding" type="tns:NavidadService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGift">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listGifts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NavidadService">
<port name="NavidadServiceImplPort" binding="tns:NavidadServiceImplPortBinding">
<soap:address location="http://localhost:8080/navidadService"/>
</port>
</service>
</definitions>